// displays
$tablet: 1024px;
$mobile: 768px;

// font
$font: 16px;

// colors
$black: #000000;
$grey: #666666;
$secondary: #E52E7A;
$secondary-hovered: #D91667;
$yellow: #FFFF66;
$primary: #1698D9;
$primary-hovered: #2EA8E6;
$light: #F2F2F2;
$white: #FFFFFF;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
