// displays
$tablet: 1024px;
$mobile: 768px;

// font
$font: 16px;

// colors
$black: #000000;
$grey: #666666;
$secondary: #D91667;
$secondary-hovered: #E52E7A;
$primary: #1698D9;
$primary-hovered: #2EA8E6;
$light: #F2F2F2;
$white: #FFFFFF;
