@import '../../styles/variables';

.advertisement { width: 100%; height: 100%; padding: 0 15px; flex-direction: column; margin: 15px 0;
  @include flex-center;
  
  &__title { margin-bottom: 25px; }
  &__list { @include flex-center; flex-wrap: wrap; gap: 80px; }
}